.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 15px;
  list-style: none;
  justify-content: center;
}

.tech-pill {
  display: flex;
  align-items: center;
  background-color: rgba(240, 230, 255, 0.95); /* Light solid background */
  border: 1px solid #c084fc;
  color: #3d0d61; /* Dark text */
  padding: 4px 12px;
  margin: 5px;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: 500;
}

.tech-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
